<ion-header [translucent]="true" *ngif="!showCamera">
  <ion-toolbar>
    <ion-title>Cupones</ion-title>
    <ion-item lines="none" (click)="startCamera()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngif="!showCamera">
  <ion-card
    *ngfor="let coupon of coupons; let last=last"
    [ngClass]="{'margin-last': last}"
  >
    <ion-img [src]="coupon.img"></ion-img>

    <ion-card-header>
      <ion-title size="large">{{coupon.name}}</ion-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-label>{{coupon.discount}} %</ion-label>
        <ion-button slot="end" (click)="changeActive(coupon)"
          >{{coupon.active ? 'Desactivar': 'Activar'}}</ion-button
        >
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="start" vertical="bottom" slot="fixed" *ngif="showCamera">
    <ion-fab-button [disabled]="!couponsActive" (click)="goToCard()">
      <ion-icon name="card-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-fab horizontal="start" vertical="bottom" slot="fixed" *ngif="showCamera">
  <ion-fab-button (click)="closeCamera()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
